
*.xccheckout

*.xcuserstate

*.xcscheme


KittenFriends.xcodeproj/xcuserdata/markpleskac.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

KittenFriends.xcodeproj/xcuserdata/markpleskac.xcuserdatad/xcschemes/xcschememanagement.plist
